body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

.square-red{
float: left;
height: 50px;
width: 50px;
background-color: red;}


.square-blue{
float: left;
height: 50px;
width: 50px;
background-color: blue;}

.square-green{
float: left;
height: 50px;
width: 50px;
background-color: green;}